/* GLOBAL */

body,
html {
	width: 100%;
	height: 100% !important;
	background: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
section {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 60px;
	min-height: 350px;
	background: #fff;
	text-align: center;
}
.content-wrapper {
	position: relative;
	z-index: 1;
}
p {
	font-weight: 300;
	font-size: 11pt;
	line-height: 20pt;
}
a {
	color: #03a9f4;
}
a:focus,
a:hover {
	color: #81d4fa;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: 100;
}
h1 {
	font-size: 6.125em;
}
h2 {
	font-size: 5.875em;
}
h3 {
	margin-bottom: 0.8em;
	font-size: 5em;
}
h4 {
	font-size: 3.125em;
}
h5 {
	font-size: 2.5em;
}
h6 {
	font-size: 1.875em;
}
.btn {
	font-weight: 300;
	cursor: pointer;
}
/* Sprites */

.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #464646;
}
.logo-dark {
	background-image: url('../img/sprites/logos.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
}
.logo-gray {
	background-image: url('../img/sprites/logos.svg');
	background-position: 0 -60px;
	background-repeat: no-repeat;
}
.logo-light {
	background-image: url('../img/sprites/logos.svg');
	background-position: 0 -120px;
	background-repeat: no-repeat;
}
/* --End Sprites */

/* Container */

.st-container,
.st-pusher,
.st-content {
	height: 100%;
}
.st-content {
	background: #f3efe0;
}
.st-content,
.st-container,
.st-content-inner {
	position: relative;
}
.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.st-pusher::after {
	position: fixed;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, 0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.st-menu-open .st-pusher::after {
	z-index: 100;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
/* --End Container */

/* Aditional */

.parallax {
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size:
	/*@@prefixmycss->No equivalent*/
	;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0 0 12px 3px rgba(0, 0, 0, 0.75);
}
.image-section {
	background-position: center center;
	-webkit-background-size:
	/*@@prefixmycss->No equivalent*/
	;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	color: #fff;
}
.card {
	padding: 24px 24px 50px;
	margin-bottom: 10px;
	background: #fff;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
	height: 100%;
	overflow: hidden;
	position: relative;
}
.same-height {
	margin-bottom: 15px;
}
#preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: #fff;
}
#loading-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -36px 0 0 -36px;
	width: 72px;
	height: 72px;
	background-image: url(../img/svg/loading-bubbles.svg);
	background-position: center;
	-webkit-background-size: 72px 72px;
	background-size: 72px 72px;
	background-repeat: no-repeat;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.hiding {
	opacity: 0;
}
.visible {
	opacity: 1;
}
.flow-img {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center center;
	-webkit-background-size:
	/*@@prefixmycss->No equivalent*/
	;
	background-size: cover;
}
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(37, 32, 31, .8);
}
.bottom-section-link-white {
	color: rgba(255, 255, 255, .6);
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.bottom-section-link-white:hover {
	color: rgba(255, 255, 255, 1);
}
.bottom-section-link {
	text-transform: uppercase;
	font-size: 1.3em;
}
.highlight {
	color: #03a9f4;
}
#typed-cursor {
	font-weight: 100;
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* --End Aditional */

/* --END GLOBAL */

/* NAVBAR */

#top-header {
	position: fixed;
	z-index: 500;
	padding: 2em 0 0 5em;
	width: 100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#top-header.after-scroll {
	padding-top: 0;
	background: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
}
.logo-header {
	display: inline-block;
	float: left;
	margin: 0.5em 1.5em 0 -1em;
	width: 185px;
	height: 60px;
	vertical-align: middle;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
}
nav ul {
	position: relative;
	z-index: 10;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	line-height: 70px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#top-header.sticky ul {
	line-height: 50px;
}
nav ul>li {
	position: relative;
	display: inline-block;
	padding: 0 0.6em;
	vertical-align: middle;
}
nav ul>li>a {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.dark-header nav ul>li>a,
#top-header.after-scroll nav ul>li>a {
	color: rgba(0, 0, 0, 0.5);
}
#top-header.after-scroll nav ul>li>a.current {
	color: rgba(0, 0, 0, 0.8);
}
nav ul>li>a.current,
nav ul> li > a:hover {
	color: #CFCFCF;
	text-decoration: none;
}
.dark-header nav ul>li>a.current,
.dark-header nav ul> li > a:hover {
	color: #fff;
}
#top-header.after-scroll nav ul> li > a:hover {
	color: #464646;
}
#buy-tickets-button {
	margin: 1.7em 5em 0 0;
	font-weight: 300;
}
.icon-menu {
	width: 20px;
	height: 20px;
	cursor: pointer;
	fill: #e6e6e6;
}
.bottom-navlinks {
	position: absolute;
	bottom: 2em;
}
.bottom-navlinks-small {
	position: relative;
	bottom: 2em;
	margin-top: 5em !important;
}
/* --END NAVBAR */

/* TOP SECTION HERO */

#top-section-hero {
	position: relative;
	padding-top: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	-webkit-background-size:
	/*@@prefixmycss->No equivalent*/
	;
	background-size: cover;
	background-repeat: no-repeat;
}
#top-section-hero .jumbotron {
	position: relative;
	top: 50%;
	left: 0;
	background: none;
	color: #fff;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.explore {
	position: absolute;
	bottom: 4em;
	left: 50%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.icon-arrow-down {
	fill: #e6e6e6;
}
/* --END TOP SECTION HERO */

/* TOP SECTION */

#top-section {
	position: relative;
	padding-top: 0;
	min-height: 600px;
	background: #03A9F4;
	background-position: center center;
	-webkit-background-size:
	/*@@prefixmycss->No equivalent*/
	;
	background-size: cover;
	background-repeat: no-repeat;
}
.jumbotron {
	position: absolute;
	bottom: 0;
	left: 2em;
	margin: 0;
	background: none;
	color: #fff;
}
/* --END TOP SECTION */

/* ABOUT SECTION */

.about-details img {
	width: 128px;
}
/* --END ABOUT SECTION */

/* STATISTICS SECTION */

#statistic {
	color: #fff;
	font-weight: 100;
}
#statistic .stat {
	color: #03a9f4;
	font-size: 100px;
}
#statistic .stat-info {
	font-size: 17pt;
}
#statistic hr {
	width: 20px;
	border-top: 1px solid #2da9ff;
}
#statistic .small {
	font-size: 11pt;
}
/* --END STATISTICS SECTION */

/* TOP SPEAKERS SECTION */

#top-speakers {
	color: #fff;
	font-weight: 100;
}
.top-speaker-item {
	padding-bottom: 1em;
}
.top-speaker-img {
	margin: 0 auto;
	width: 140px;
	height: 140px;
}
#top-speakers .name {
	margin: 10px 0 2px;
	font-size: 25px;
}
#top-speakers .sub {
	margin: 0 0 15px;
	color: #03a9f4;
	font-size: 18px;
}
#top-speakers p {
	margin-bottom: 15px;
	padding: 0 20px;
	opacity: 0.7;
}
#top-speakers .social-link a {
	display: inline-block;
	padding: 2px 5px;
	width: 31px;
	height: 31px;
	color: #fff;
	font-size: 18px;
	opacity: .3;
}
#top-speakers .social-link a:Hover {
	border-color: #03a9f4;
	color: #03a9f4;
	opacity: 1;
}
/* --END TOP SPEAKERS SECTION */

/* BUY TICKETS SECTION */

.pricing-col {
	overflow: hidden;
	margin-bottom: 2em;
	padding: 0;
	border: 1px #ddd solid;
	border-right: none;
	text-align: center;
}
.pricing-col:last-child {
	border-right: 1px #ddd solid;
	border-left: none;
}
.pricing-col-featured:not(:first-child) {
	margin-left: 0px;
	border: solid 1px #3078eb;
}
.pricing-col-featured .pricing-header .amount {
	color: #3078eb;
}
.pricing-col-featured .pricing-ribbon {
	position: absolute;
	top: 10px;
	right: -45px;
	display: inline-block;
	padding: 5px 50px;
	width: auto;
	background: #3078eb;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.pricing-header .title {
	margin: 0;
	padding: 20px 0;
	background: #F2F2F2;
	font-weight: 200;
	font-size: 2.5em;
}
.pricing-header .amount {
	display: block;
	padding: 0.4em 0;
	color: #000;
	font-size: 5em;
	line-height: initial;
}
.pricing-content {
	font-weight: 300;
	font-size: 1.2em;
}
.pricing-content ul {
	margin: 0 auto;
	margin-top: 1em;
	padding-left: 0;
	width: 80%;
}
.pricing-content ul li {
	padding: 1em 0;
	border-bottom: solid 1px #ddd;
	list-style: none;
}
.pricing-content ul li:last-child {
	border-bottom: none;
}
.pricing-content .button {
	display: block;
	margin: 0.9em 0 0;
	padding: 0.2em 0 0.3em;
	background: #333;
	color: #ffffff;
	font-weight: 200;
	font-size: 2.2em;
}
.pricing-content .button:hover {
	background: #4D4D4D;
	text-decoration: none;
}
.pricing-col-featured {
	position: relative;
	top: -2.1em;
}
.pricing-col-featured .pricing-content {
	padding-top: 0.1em;
}
.pricing-col-featured .title {
	margin-bottom: 1em;
}
.pricing-col-featured .button {
	margin-top: 1.3em;
	background: #3078eb;
}
.pricing-col-featured .button:hover {
	background: #4484eb;
}
/* --END BUY TICKETS SECTION */

/* LOCATION SECTION */

#location {
	position: relative;
	padding: 172px 0px;
	font-weight: 100;
}
#location h3 {
	margin-bottom: 0;
}
#location-gmap {
	width: 100%;
	height: 650px;
}
#location-gmap img {
	max-width: none;
}
#location-gmap label {
	display: inline;
	width: auto;
}
.location-description {
	z-index: 1;
	padding: 20px 40px;
	min-width: 400px;
	background: #fff;
}
.location-description .icon-direction {
	margin: 1em;
	width: 32px;
	height: 32px;
}
.location-description ul {
	margin-top: 2em;
	padding: 0;
	list-style: none;
}
.location-description li {
	margin-bottom: 0.4em;
	font-size: 1.6em;
}
#canvas-map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 700px;
}
/* --END LOCATION SECTION */

/* SPONSORS SECTION */

#sponsors h5 {
	margin-top: 1em;
}
#sponsors .list-inline {
	margin-bottom: 5em;
}
#sponsors .list-inline li {
	margin: 1em 0.5em;
	min-width: 180px;
	max-width: 250px;
	width: 16%;
}
#sponsors img {
	width: 100%;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#sponsors img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* --END SPONSORS SECTION */

/* SUBSCRIBE SECTION */

#subscribe {
	color: #fff;
}
#subscribe .email,
#subscribe .button {
	margin-bottom: 1em;
	padding: 1em 1.5em;
	width: 100%;
	height: 3.5em;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: transparent;
	color: #fff;
	text-align: center;
	font-weight: 200;
	font-size: 1.2em;
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
}
#subscribe .button:hover {
	background: #fff;
	color: rgba(0, 0, 0, 0.5);
}
.mc-field-group {
	padding-right: 0.2em;
}
.mc-submit-group {
	padding-left: 0.2em;
}
/* --END SUBSCRIBE SECTION */

/* SPEAKERS*/

.team-item,
.speaker-item {
	margin-bottom: 2em;
	width: 100%;
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.team-item:hover,
.speaker-item:hover {
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.35);
}
.speaker-head {
	height: 200px;
}
.speaker-item figure {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-bottom: -4px;
	width: 100.1%;
	background-position: -30px;
	-webkit-background-size: 115% 115%;
	background-size: 115%;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.speaker-item:hover figure {
	background-position: 0;
	-webkit-background-size: 105% 105%;
	background-size: 105%;
	opacity: .9;
}
.speaker-item figure figcaption {
	position: absolute;
	top: auto;
	bottom: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.speaker-item figure figcaption::before,
.speaker-item figure figcaption::after {
	pointer-events: none;
}
.speaker-item figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 1.2em;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}
.speaker-item figure h2 span {
	font-weight: 600;
	display: block;
}
.speaker-item figure p {
	margin: 0;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
}
.speaker-item:hover figure h2,
.speaker-item:hover figure p {
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.speaker-item figure p {
	color: rgba(255, 255, 255, .9);
	letter-spacing: 1px;
	font-size: .7em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}
.speaker-item:hover figure p {
	margin-top: .7em;
	line-height: 1;
	opacity: 1;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}
.speaker-bottom {
	clear: both;
	padding: 1.2em 1.1em 0.7em;
	height: 80px;
	border-bottom: 2px solid #fff;
	background: #fff;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}
.speaker-bottom .title {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	height: 50px;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 1.5;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.speaker-modal .modal-content {
	border-radius: 4px;
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-body {
	padding: 1.2em 2.4em;
	color: #757575;
}
.speaker-modal h4 {
	color: #212121;
	font-weight: 300;
}
.speaker-details .row {
	margin-top: 1.5em;
}
.speaker-details .speaker-img {
	margin: .8em;
	width: 100px;
	height: 100px;
}
.speaker-details .details {
	padding-left: 3em;
}
.speaker-details .name {
	color: #212121;
	font-weight: 500;
	font-size: 1.3em;
}
.speaker-details .position {
	color: #757575;
	font-weight: 300;
}
.speaker-details .social {
	padding: 0;
	list-style: none;
}
.speaker-details .social li {
	display: inline-block;
	padding-right: .2em;
}
.modal-backdrop {
	background-color: #000;
}
.icon-cross {
	width: 19px;
	height: 19px;
	outline: none;
	fill: #000;
}
.close-mask {
	position: absolute;
	margin-top: -19px;
	width: 19px;
	height: 19px;
}
.red-background {
	background: #FF534F;
}
.red-background:hover .speaker-bottom {
	border-bottom: 2px solid #FF534F;
}
.blue-background {
	background: #4574FE;
}
.blue-background:hover .speaker-bottom {
	border-bottom: 2px solid #4574FE;
}
.violet-background {
	background: #792BA3;
}
.violet-background:hover .speaker-bottom {
	border-bottom: 2px solid #792BA3;
}
.azure-background {
	background: #2BC6FF;
}
.azure-background:hover .speaker-bottom {
	border-bottom: 2px solid #2BC6FF;
}
.pink-background {
	background: #FE4481;
}
.pink-background:hover .speaker-bottom {
	border-bottom: 2px solid #FE4481;
}
.green-background {
	background: #90BE4E;
}
.green-background:hover .speaker-bottom {
	border-bottom: 2px solid #90BE4E;
}
/* --END SPEAKERS */

/* TEAM */

#team h3 {
	margin-bottom: .4em;
}
#team p {
	margin-bottom: 2em;
}
.team-item figure {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-bottom: -4px;
	width: 100.3%;
	height: 250px;
	background-position: -30px;
	-webkit-background-size: 115% 115%;
	background-size: 115%;
	cursor: pointer;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.team-item:hover figure {
	background-position: 0;
	-webkit-background-size: 105% 105%;
	background-size: 105%;
}
.team-item .overlay {
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.team-item:hover .overlay {
	background: rgba(0, 0, 0, .3);
}
.team-item figure figcaption {
	position: absolute;
	top: auto;
	bottom: 0;
	padding: 1em;
	width: 100%;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.team-item figure h2 {
	display: inline-block;
	float: left;
	margin: 0;
	text-transform: uppercase;
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 1.2em;
}
.team-item figure h2 span {
	font-weight: 500;
}
.team-item figcaption > a {
	float: right;
	margin-left: .3em;
}
.team-item figure p {
	position: relative;
	top: 50%;
	left: 0;
	display: block;
	display: -webkit-box;
	overflow: hidden;
	padding: 1.4em;
	height: 110px;
	background: none;
	color: #fff;
	text-overflow: ellipsis;
	font-size: 1.1em;
	line-height: 1.3;
	opacity: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
.team-item figure h2 {
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, -250%, 0);
	transform: translate3d(0, -250%, 0);
}
.team-item figure figcaption > a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}
.team-item:hover figure p {
	opacity: 1;
	-webkit-transform: translateY(-70%);
	-ms-transform: translateY(-70%);
	transform: translateY(-70%);
}
.team-item:hover figure h2,
.team-item:hover figcaption,
.team-item:hover figcaption > a {
	color: #3c4a50;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.team-item:hover figure h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.team-item:hover figcaption > a:nth-child(5) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.team-item:hover figcaption > a:nth-child(4) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.team-item:hover figcaption > a:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.team-item:hover figcaption > a:nth-child(2) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
/* --END TEAM */

/* LOGISTICS */

/* Find Way */

#find-way {
	min-height: 600px;
}
#find-way h3 {
	position: absolute;
	top: -.4em;
	left: .8em;
	color: #fff;
}
.map-card {
	top: 450px;
	left: 50px;
	overflow: hidden;
	padding: 18px 16px;
	height: 56px;
	border-radius: 2px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 1.2em;
	-webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
	pointer-events: all;
}
.location-active .map-card {
	-webkit-transform: translateY(-135px);
	-ms-transform: translateY(-135px);
	transform: translateY(-135px);
}
.location-input {
	overflow: hidden;
	margin-top: -3px;
	padding: 1px 4px;
	width: 85%;
	outline: none;
	border: none;
	color: #717171;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
}
.location-active .location-input {
	-webkit-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px);
}
#direction-locate {
	float: right;
	margin-right: 3px;
	cursor: pointer;
	-webkit-transform: translateY(4px);
	-ms-transform: translateY(4px);
	transform: translateY(4px);
}
.location-active #direction-locate {
	-webkit-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px);
}
.location-result {
	color: #717171;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px);
}
.location-result #result-name {
	color: #202020;
}
.location-active .location-result {
	-webkit-transform: translateY(-24px);
	-ms-transform: translateY(-24px);
	transform: translateY(-24px);
}
#direction-cancel {
	float: right;
	margin-right: 3px;
	cursor: pointer;
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
	fill: #717171;
}
.location-details {
	padding: 8px 20px;
	height: 100%;
	clear: both;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateY(140px);
	-ms-transform: translateY(140px);
	transform: translateY(140px);
}
.location-active .location-details {
	-webkit-transform: translateY(-125px);
	-ms-transform: translateY(-125px);
	transform: translateY(-125px);
}
.location-details ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.location-details li {
	border-bottom: 1px solid #e7e7e7;
	line-height: 50px;
	text-transform: uppercase;
}
.location-details svg {
	margin-right: 7px;
	top: 3px;
	position: relative;
	fill: #333;
}
.icon-mode {
	width: 20px;
	height: 20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.location-details select {
	margin-left: -5px;
	border: none;
	outline: none;
}
.location-details select option {
	padding: 10px;
	margin: 40px;
}
.location-details li:last-child {
	border-bottom: none;
}
.details-result {
	color: #717171;
	text-transform: none;
	font-size: 17px;
}
/* End Find Way */

/* Direction Details */

#direction-details {
	padding: 0;
	color: #757575;
	display: inline-block;
}
#direction-details .card {
	-webkit-transform: translateY(-125px);
	-ms-transform: translateY(-125px);
	transform: translateY(-125px);
}
#direction-details h4 {
	font-size: 2.4em;
	font-weight: 300;
	color: initial;
}
#direction-details h5 {
	font-weight: 300;
	font-size: 1.5em;
	color: initial;
}
#direction-details p {
	font-size: 1.3em;
}
.card ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.3em;
	font-weight: 300;
}
.list-with-description li {
	margin-bottom: 1.3em;
}
.list-with-description a {
	display: block;
}
#direction-details .questions {
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
}
/* End Direction Details */

/* --END LOGISTICS */

/* BLOG */

.post {
	margin-bottom: 4em;
	max-width: 750px;
}
.post-header {
	height: 20px;
	margin-top: 1.5em;
}
.published {
	font-size: 14px;
}
.post-header .publish-date {
	color: #656565;
}
.social-links li {
	margin-right: 0;
	margin-left: .3em;
}
.post-body {
	margin-top: 1.3em;
}
.post-body iframe,
.post-body img {
	margin: 1.1em 0;
	display: block;
}
.pagination {
	margin: 0;
	font-size: 1.1em;
	font-weight: 300;
}
.pagination .page-number {
	margin: 0 .4em;
}
/* --END BLOG */

/* FOOTER */

#footer {
	padding: 3em 4em 1em;
	border-top: 1px solid #e7e7e7;
	background-color: #fcfcfc;
}
.logo-footer {
	display: inline-block;
	margin: -1em -1em 0;
	width: 185px;
	height: 60px;
	-webkit-transform: scale(0.65);
	-ms-transform: scale(0.65);
	transform: scale(0.65);
}
#footer h5 {
	font-size: 1.4em;
}
#footer ul {
	display: block;
	margin-top: 1em;
	padding: 0;
}
#footer ul li {
	margin-bottom: 0.7em;
	list-style-type: none;
}
#footer a {
	padding: 0;
	color: #8b8b8b;
	font-weight: 300;
}
#footer a:hover {
	text-decoration: underline;
}
.copyright {
	font-size: 1em;
	line-height: 1.3;
}
.social-links {
	padding: 0;
}
.social-links li {
	display: inline-block;
	margin-right: .3em;
}
.icon-vk,
.icon-car,
.icon-site,
.icon-flag,
.icon-email,
.icon-flight,
.icon-github,
.icon-twitter,
.icon-youtube,
.icon-transit,
.icon-walking,
.icon-facebook,
.icon-linkedin,
.icon-bicycling,
.icon-direction,
.icon-google-plus,
.icon-stack-overflow,
.icon-location-arrow {
	width: 16px;
	height: 16px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	fill: #8b8b8b;
}
.icon-vk:hover {
	fill: #4C75A3;
}
.icon-site:hover {
	fill: #ba620b;
}
.icon-email:hover {
	fill: #e34c41;
}
.icon-github:hover {
	fill: #464646;
}
.icon-twitter:hover {
	fill: #1BB2E9;
}
.icon-youtube:hover {
	fill: #CC181E;
}
.icon-facebook:hover {
	fill: #3C599B;
}
.icon-linkedin:hover {
	fill: #017eb4;
}
.icon-direction:hover {
	fill: #3a84df;
}
.icon-google-plus:hover {
	fill: #ce352c;
}
.icon-stack-overflow:hover {
	fill: #ef7c02;
}
/* --END FOOTER */

@media (min-width: 768px) {
	.speaker-modal .modal-dialog {
		margin-top: 100px;
		width: 740px;
	}
}
@media only screen and (max-width: 991px) {
	/* NAVBAR */
	#top-header {
		padding: 1em 0 0 2.6em;
	}
	#top-header.after-scroll {
		padding: -2.5em 0 0 4em;
	}
	#top-header.after-scroll nav ul {
		margin-top: 0.7em;
		line-height: 40px;
	}
	#top-header.after-scroll .logo-header {
		margin-top: 0.2em;
	}
	/* --END NAVBAR */
	/* --SPEAKERS */
	.speaker-item figure figcaption {
		bottom: .5em;
		padding-left: 1em;
	}
	/* --END SPEAKERS */
	/* --LOGISTICS */
	#direction-details .questions {
		-webkit-transform: translateY(-125px);
		-ms-transform: translateY(-125px);
		transform: translateY(-125px);
	}
	/* --END LOGISTICS */
}
@media only screen and (max-width: 767px) {
	/* GLOBAL */
	h3 {
		font-size: 3.2em;
	}
	h4 {
		font-size: 2.5em;
	}
	.parallax {
		background-attachment: initial;
	}
	.same-height {
		height: 100%;
	}
	.jumbotron {
		padding-left: 0;
	}
	.image-section {
		min-height: 350px;
	}
	/* END GLOBAL */
	/* TOP SECTION HERO*/
	#top-section-hero .jumbotron {
		left: 0;
		padding: 30px;
	}
	.jumbotron h1 {
		font-size: 3.2em;
	}
	.explore {
		bottom: 3em;
	}
	/* --END TOP SECTION HERO*/
	/* --TOP SECTION */
	#top-section {
		min-height: 250px;
	}
	.jumbotron {
		left: 1em;
	}
	/* --END TOP SECTION */
	/* NAVBAR */
	.logo-header {
		margin: -0.5em 0 0 -3em;
		-webkit-transition: margin 0.3s;
		transition: margin 0.3s;
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}
	#top-header.after-scroll .logo-header {
		margin-top: 0.1em;
	}
	#menu-trigger {
		position: fixed;
		top: 2em;
		right: 3.5em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	#top-header.after-scroll #menu-trigger {
		top: 1.5em;
	}
	.st-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		visibility: hidden;
		overflow: auto;
		width: 256px;
		height: 100%;
		background: #fff;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.st-menu::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
		content: '';
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	.st-menu-open .st-menu::after {
		width: 0;
		height: 0;
		opacity: 0;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	.logo-navbar {
		display: inline-block;
		margin: 0.2em 1.5em 0 -0.3em;
		width: 185px;
		height: 60px;
		vertical-align: middle;
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}
	#top-header.after-scroll .icon-menu {
		fill: #464646;
	}
	#top-header.after-scroll .st-menu ul,
	.st-menu ul {
		margin: 1.5em 0 0 .4em;
		padding: 0;
		line-height: .9em;
		width: 95%;
	}
	#top-header.after-scroll nav ul {
		line-height: 0.9em;
	}
	nav ul>li {
		position: relative;
		display: block;
		vertical-align: middle;
	}
	#top-header.after-scroll .st-menu ul li a,
	.st-menu ul li a {
		display: block;
		padding: 1em 1em 1em 1.2em;
		outline: none;
		color: rgba(0, 0, 0, 0.3);
		text-transform: none;
		font-size: 1.2em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	#top-header.after-scroll .st-menu .current,
	#top-header.after-scroll .st-menu ul li a:hover,
	.dark-header .st-menu .current,
	.dark-header .st-menu ul li a:hover,
	.st-menu .current,
	.st-menu ul li a:hover {
		color: #03a9f4;
	}
	.st-effect.st-menu {
		visibility: visible;
		-webkit-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	.st-effect.st-menu-open .st-effect.st-menu {
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.st-effect.st-menu::after {
		display: none;
	}
	/* --END NAVBAR */
	/* SECTION STATISTICS */
	#statistic .counter {
		padding-top: 2em;
	}
	/* --END SECTION STATISTICS */
	/* SECTION BUY TICKETS */
	.pricing-col {
		width: 100% !important;
		border: 1px #ddd solid;
	}
	.pricing-col:last-child {
		border: 1px #ddd solid;
	}
	.pricing-col-featured {
		top: 0;
	}
	/* --END SECTION BUY TICKETS */
	/* SPONSORS SECTION */
	#sponsors .list-inline li {
		min-width: 120px;
		max-width: 180px;
		width: 40%;
	}
	/* --END SPONSORS SECTION */
	/* SUBSCRIBE SECTION */
	.mc-field-group,
	.mc-submit-group {
		padding: initial;
	}
	/* END SUBSCRIBE SECTION */
	/* SPEAKERS*/
	.speaker-item figure {
		background-position: 0;
		-webkit-background-size: 105% 105%;
		background-size: 105%;
	}
	.speaker-item figure h2,
	.speaker-item figure p,
	.speaker-item:hover figure h2,
	.speaker-item:hover figure p {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	.speaker-item figure p {
		opacity: 1;
		line-height: 1;
	}
	.speaker-modal h4 {
		font-size: 2.2em;
	}
	.speaker-details .speaker-img {
		margin: .8em auto;
		width: 120px;
		height: 120px;
	}
	.speaker-details .details {
		padding-left: 0;
	}
	.speaker-details .social {
		text-align: center;
	}
	/* --END SPEAKERS*/
	/* TEAM */
	.team-item figure {
		background-position: 0;
		-webkit-background-size: 105% 105%;
		background-size: 105%;
	}
	.team-item figure figcaption,
	.team-item figure h2,
	.team-item figure figcaption > a {
		color: #3c4a50;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	/* --END TEAM */
	/* LOGISTICS */
	#find-way {
		min-height: 500px;
		padding: 0 10px;
	}
	#find-way h3 {
		top: .1em;
		left: 0;
	}
	#find-way #canvas-map {
		height: 500px;
	}
	.map-card {
		left: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	.location-active .map-card {
		-webkit-transform: translateY(-140px);
		-ms-transform: translateY(-240px);
		transform: translateY(-140px);
	}
	.location-details {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.location-active .location-details {
		-webkit-transform: translateY(-135px);
		-ms-transform: translateY(-135px);
		transform: translateY(-135px);
	}
	/* --END LOGISTICS */
	/* BLOG */
	#blog h3 {
		margin-top: 0;	
	}
	.post {
	margin-bottom: 2em;
	max-width: 750px;
}
	/* --END BLOG */
	/* FOOTER */
	#footer {
		padding: 2em 1.5em 1em;
	}
	/* --END FOOTER */
}