<!-- About Section -->
<section id="about">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>About {{site.eventName}}</h3>
        <div class="row about-details">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="animated hiding" data-animation="fadeInDown" data-delay="0">
                    <h5>Conference</h5>
                    <img class="img-circle" src="{{ site.baseurl }}/img/conference.jpg" alt="Conference">
                    <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML &amp; CSS It is a long established fact that a reader will be distracted by the readable <a href="#">content</a>.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                    <h5>Workshops</h5>
                    <img class="img-circle" src="{{ site.baseurl }}/img/workshop.jpg" alt="Workshops">
                    <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML &amp; CSS It is a long established fact that a reader will be distracted by the readable <a href="#">content</a>.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <h5>Hackathons</h5>
                    <img class="img-circle" src="{{ site.baseurl }}/img/hackathon.jpg" alt="Hackathons">
                    <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML &amp; CSS It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->