  <!-- Begin Footer -->
  <footer id="footer">
    <div class="row">
      <div class="pull-left">
        <div class="g-plusone" data-annotation="none" data-href="{{site.url}}"></div>
      </div>
      <img class="logo-footer pull-right" src="{{ site.baseurl }}/img/svg/logo-grey.svg" alt="GDG DevFest">
    </div>
    <div class="row">
      <div class="pull-left">
        <ul class="footer-links">
          <li><a href="http://gdg.org.ua" target="_blank">GDG.org.ua</a>
          </li>
          <li><a href="https://developers.google.com" target="_blank">Google Developers</a>
          </li>
          <li><a href="https://devfest.gdg.org.ua" target="_blank">GDG DevFest Ukraine 2013</a>
          </li>
        </ul>
        <ul class="social-links">
          <li>
            <a href="{{site.gplusFollowUsUrl}}" target="_blank">
              <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                <use xlink:href="#icon-google-plus"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="{{site.twitterFollowUsUrl}}" target="_blank">
              <svg class="icon icon-twitter" viewBox="0 0 30 32">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <!-- Please don't delete this line-->
      <p class="copyright">
        &copy; 2014 Designed and created by <a href="https://plus.google.com/+OlehZasadnyy/about">Oleh Zasadnyy</a> &middot; <a href="http://lviv.gdg.org.ua" target="_blank">GDG Lviv</a>
      </p>
    </div>
  </footer>
  <!-- End Footer -->