<!-- Hackathon Technologies Section -->
<section id="hackathon-technologies" class="hackathon-technologies">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h4>{{ site.hackathonTechnologiesTitle }}</h4>
            {% for row in site.hackathonTechnologies %}
                {% assign colsNumber = forloop.length | minus:1 | plus:forloop.length %}
                {% assign colWidth = 12 | divided_by: colsNumber %}
                {% assign check = forloop.index0 | modulo:2 %}
                <div class="col-md-{{ colWidth | plus:1 }} col-sm-{{ colWidth | plus:1 }} animated hiding same-height" data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}" data-delay="500">
                    <h5>{{ row.title }}</h5>
                    <img class="technology-img img-responsive" src="{{ site.baseurl }}/img/hackathon/{{ row.image }}" alt="{{ row.title }}">
                </div>
                {% if forloop.index != forloop.length %}
                <div class="col-md-{{ colWidth | minus:forloop.length }} col-sm-{{ colWidth | minus:forloop.length }} animated hiding same-height" data-animation="fadeInDown" data-delay="0">
                    <span class="or-divider">OR</span>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Hackathon Technologies Section -->
