<!-- Begin Top Speakers Section -->
<section id="top-speakers" data-type="background" data-speed="6" style="background-image: url({{ site.baseurl }}/img/top-speakers.jpg);">
    <div class="overlay"></div>
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Rockstar speakers</h3>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="0">
                <div class="flow-img img-circle speaker-img" style="background-image: url({{ site.baseurl }}/img/speakers/oleh.jpg)"></div>
                <div class="name">Oleh Zasadnyy</div>
                <div class="sub">GDG Lviv</div>
                <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="social-link">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="500">
                <div class="flow-img img-circle speaker-img" style="background-image: url({{ site.baseurl }}/img/speakers/ostap.jpg)"></div>
                <div class="name">Ostap Andrysiv</div>
                <div class="sub">GDG Lviv</div>
                <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="social-link">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1000">
                <div class="flow-img img-circle speaker-img" style="background-image: url({{ site.baseurl }}/img/speakers/vitalik.jpg)"></div>
                <div class="name">Vitaliy Zasadnyy</div>
                <div class="sub">GDG Lviv</div>
                <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="social-link">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="speaker-item animated hiding" data-animation="fadeInUp" data-delay="1500">
                <div class="flow-img img-circle speaker-img" style="background-image: url({{ site.baseurl }}/img/speakers/valentyn.jpg)"></div>
                <div class="name">Vlentyn Shybanov</div>
                <div class="sub">GDG Kyiv</div>
                <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="social-link">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
                <!-- End Top Speakers Section -->