<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Partners</h3>
            <h5>General sponsor</h5>
            <ul class="list-inline">
                <li>
                    <a href="https://www.google.com.ua/intl/en/about/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="Google">
                    </a>
                </li>
            </ul>
            <h5>With support of</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://lvivconvention.com.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/lvivconventionbureau.svg" alt="Lviv Convention Bureau - Business tourism in Lviv, Ukraine">
                    </a>
                </li>
                <li>
                    <a href="http://it-bpo.lviv.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/it-bpo.png" alt="IT-BPO Lviv Cluster">
                    </a>
                </li>
            </ul>
            <h5>Information partners</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://career4it.com/en/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/career4it.png" alt="career4it - employment fair for it talents">
                    </a>
                </li>
                <li>
                    <a href="http://itarena.lviv.ua/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/it-arena.png" alt="IT Arena - the biggest IT conference in western Ukraine">
                    </a>
                </li>
            </ul>
            <!-- <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
			     <a href="#">Become a sponsor</a>
            </span> -->
        </div>
    </div>
</section>
<!-- End Sponsors Section -->