<!-- Begin Sponsors Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Partners</h3>
            <h5>General sponsor</h5>
            <ul class="list-inline">
                {% for sponsor in site.data.sponsors %}
                    {% if sponsor.group == "general" %}
                    <li>
                        <a href="{{ sponsor.link }}" target="_blank">
                            <img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" alt="{{ sponsor.description }}">
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h5>With support of</h5>
            <ul class="list-inline">
                 {% for sponsor in site.data.sponsors %}
                    {% if sponsor.group == "support" %}
                    <li>
                        <a href="{{ sponsor.link }}" target="_blank">
                            <img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" alt="{{ sponsor.description }}">
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h5>Information partners</h5>
            <ul class="list-inline">
                 {% for sponsor in site.data.sponsors %}
                    {% if sponsor.group == "information" %}
                    <li>
                        <a href="{{ sponsor.link }}" target="_blank">
                            <img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.imageUrl }}" alt="{{ sponsor.description }}">
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
			     <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}">Become a sponsor</a>
            </span>
        </div>
    </div>
</section>
<!-- End Sponsors Section -->