<!-- Begin Statistic Section -->
<section id="statistic" data-type="background" style="background-image: url({{ site.baseurl }}/img/statistic.jpg);">
    <div class="overlay"></div>
    <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
                <div class="stat"><span class="timer" data-from="0" data-to="72">72</span>+</div>
                <div class="stat-info">hours</div>
                <hr>
                <p class="small">It is a long established fact that a reader will be.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
                <div class="stat"><span class="timer" data-from="0" data-to="10">10</span>
                </div>
                <div class="stat-info">speakers</div>
                <hr>
                <p class="small">It is a long established fact that a reader will be.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
                <div class="stat"><span class="timer" data-from="0" data-to="20">20</span>+</div>
                <div class="stat-info">technologies</div>
                <hr>
                <p class="small">It is a long established fact that a reader will be.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
                <div class="stat"><span class="timer" data-from="0" data-to="3">3</span>
                </div>
                <div class="stat-info">halls</div>
                <hr>
                <p class="small">It is a long established fact that a reader will be.</p>
            </div>
        </div>
    </div>
</section>
                <!-- End Statistic Section -->